<h2 class="text-2xl font-bold mb-6 text-center">New Task for <%= @project.name %></h2>

<div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <%= turbo_frame_tag id='task_form' do %>
    <%= render 'form', task: @task, project: @project%>
  <% end %>
</div>
